{% extends "base.html" %}

{% block titulo %}
<title>PowerOdontology - Inicio</title>
{% endblock titulo %}

{% block contenido %}
            <h2>Perfil Profesional</h2>
            <p>Soy Julián Arboleda Gómez, un desarrollador con un año de experiencia, especializado en Python y Java, con un enfoque en la eficiencia y escalabilidad del código. Poseo experiencia liderando equipos en logística y compras, destacándome en la creación de aplicaciones innovadoras y la optimización de procesos empresariales. Mi habilidad para combinar gestión técnica y de proyectos me posiciona para abordar desafíos complejos y contribuir significativamente en el desarrollo de software y la mejora de procesos.</p>
            
            <h2>Habilidades</h2>
            <ul>
                <li><strong>Python:</strong> Experiencia en frameworks como Django, utilizados para el desarrollo de aplicaciones web robustas y eficientes.</li>
                <li><strong>Java:</strong> Conocimientos en Spring y Hibernate, permitiendo la creación de aplicaciones empresariales escalables y de alto rendimiento.</li>
            </ul>
        
    {% endblock contenido %}

