{% extends "base.html" %}

{% block titulo %}
<title>Control Odonto - Pacientes</title>
{% endblock titulo %}

{% block contenido %}
<h3>Pacientes Registrados</h3>
<a href="{% url 'crear_paciente' %}">Registrar paciente</a>
<br>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Género</th>
      <th>Teléfono</th>
      <th>Identificación</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for pacientes in object_list %}
    <tr>
      <td>{{ pacientes.id }}</td>
      <td>{{ pacientes.nombre }}</td>
      <td>{{ pacientes.apellido }}</td>
      <td>{{ pacientes.genero }}</td>
      <td>{{ pacientes.telefono }}</td>
      <td>{{ pacientes.identificacion }}</td>
      <td>{{ pacientes.email }}</td>
      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
