{% extends "base.html" %}

{% block titulo %}
<title>Control Odonto - Odontólogos</title>
{% endblock titulo %}

{% block contenido %}
<h3>Odontólogos Registrados</h3>
<a href="{% url 'crear_odontologo' %}">Registrar odontologo</a>
<br>
<form action="{% url 'buscar_odontologo' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar">
</form>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Identificación</th>
      <th>Fecha de Nacimiento</th>
      <th>Especialidad</th>
    </tr>
  </thead>
  <tbody>
    
    {% for odontologo in odontologos %}
    <tr>
      <td>{{ odontologo.id }}</td>
      <td>{{ odontologo.nombre }}</td>
      <td>{{ odontologo.apellido }}</td>
      <td>{{ odontologo.email }}</td>
      <td>{{ odontologo.telefono }}</td>
      <td>{{ odontologo.identidicacion }}</td>
      <td>{{ odontologo.fecha_nacimiento }}</td>
      <td>{{ odontologo.especialidad }}</td>
      <td>
        {% if user == odontologo.creador %}
        <a href="{% url 'editar_odontologo' odontologo.id %}">Editar</a>
        {% endif %}
      </td>
      <td>
        {% if user == empleado.creador %}
        <form action="{% url 'eliminar_odontologo' odontologo.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="eliminar"/>
        </form>
        {% endif %}
      </td>
      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}